/* PLACE ORDER */
.order {
  padding: 2rem 0;
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* CART */
.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.2fr 0.2fr 0.6fr;
  place-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.05rem solid var(--gray-bg);
}

.productImage {
  width: 4rem;
  border-radius: 0.2rem;
}

.total {
  width: 50%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.shipping {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 0.05rem solid var(--gray-bg);
}

/* ----- */
.payment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paymentInfo {
  display: flex;
  gap: 2rem;
}

.paymentLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.paymentLabel:has(.paymentRadio:checked) {
  border: 0.05rem solid var(--accent);
  background-color: var(--accent-clear);
}

.paymentRadio {
  appearance: none;
  display: grid;
  place-content: center;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.1rem solid var(--gray-bg);
  border-radius: 50%;
}

.paymentRadio::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--accent);
  transform: scale(0);
  transition: 0.3s;
}

.paymentRadio:checked::before {
  transform: scale(1);
}

/* ADDRESS */
.addresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address {
  display: flex;
  gap: 1rem;
}

.addressInfo {
  display: flex;
  gap: 1rem;
}

.addressLabel {
  max-width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.4rem;
  background-color: var(--white-bg);
  transition: 0.3s;
}

.addressLabel:has(.addressRadio:checked) {
  border: 0.05rem solid var(--accent);
  background-color: var(--accent-clear);
}

.name {
  font-size: 1.1rem;
  color: var(--accent);
}

.span {
  color: var(--gray-text);
}

.addressRadio {
  display: none;
}

/* ADD ADDRESS */
.addAddress {
  max-width: fit-content;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  color: var(--gray-text);
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
  transition: 0.3s;
}

.addAddressIcon {
  width: 1.5rem;
}

/* HOVER */
@media (hover: hover) {
  .paymentLabel:hover,
  .addressLabel:hover {
    border: 0.05rem solid var(--accent);
    cursor: pointer;
  }

  .addAddress:hover {
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .total {
    width: 100%;
  }
}
