/* ORDERS */
.orders {
  margin: 2rem auto;
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order {
  display: flex;
  flex-direction: column;
}

.product {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 0.05rem solid var(--gray-bg);
}

.productImage {
  width: 4rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.productInfo > div {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}

.span {
  color: var(--gray-text);
}

.status {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.status::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--accent);
  border-radius: 50%;
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .product {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 0;
    column-gap: 2rem;
  }

  .productImage {
    width: 5rem;
    grid-row: span 2;
  }

  .status {
    grid-column: 2;
    margin: 0.5rem 0;
  }
}
