/* FORM */
.form {
  margin: 2rem auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--black-text);
}

.form > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Prata;
  font-weight: 300;
  font-size: 1.7rem;
}

.form > h2::after {
  content: "";
  width: 2rem;
  height: 0.1rem;
  background-color: var(--black-text);
}

/* ----- */
.upload {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.upload > div {
  display: flex;
  gap: 3rem;
}

.upload > div > label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.upload > div > label > img {
  width: 2rem;
  opacity: 0.5;
}

.upload > div > label > input {
  display: none;
}

.upload > div > ul {
  display: flex;
  gap: 1rem;
}

.upload > div > ul > li > img {
  height: 5rem;
}

/* ----- */
.title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.title > input {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.title > input::placeholder {
  opacity: 0.25;
}

/* ----- */
.desc {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.desc > textarea {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
  resize: none;
}

.desc > textarea::placeholder {
  opacity: 0.25;
}

/* ----- */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.category,
.subcategory,
.price {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.category > select,
.subcategory > select,
.price > input {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.price > input {
  width: 100%;
}

/* ----- */
.sizes {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sizes > div {
  display: flex;
  gap: 1rem;
}

.sizes > div > button {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
  transition: 0.3s;
}

.sizes > div > button.selected {
  color: var(--white-text);
  background-color: var(--accent);
}

/* ----- */
.form > button {
  margin-top: 0.5rem;
  padding: 0.7rem;
  font-size: 1.1rem;
  color: var(--white-text);
  background-color: var(--black-text);
  border: 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
  transition: 0.3s;
}

/* HOVER */
@media (hover: hover) {
  .upload > div > label:hover {
    cursor: pointer;
  }

  .upload > div > label:hover > img {
    filter: var(--filter);
    opacity: 1;
  }

  .category > select,
  .subcategory > select {
    cursor: pointer;
  }

  .sizes > div > button:hover {
    color: var(--white-text);
    background-color: var(--accent);
    cursor: pointer;
  }

  .form > button:hover {
    background-color: var(--accent);
    cursor: pointer;
  }
}
