/* FORM */
.form {
  margin: 2rem auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
}

/* ----- */
.upload {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.upload > div {
  display: flex;
  gap: 3rem;
}

.upload > div > label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  border-radius: 0.4rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.upload > div > label > img {
  width: 2rem;
  opacity: 0.5;
}

.upload > div > label > input {
  display: none;
}

.upload > div > ul {
  display: flex;
  gap: 1rem;
}

.upload > div > ul > li > img {
  height: 5rem;
}

/* ----- */
.title,
.desc,
.category,
.subcategory,
.price,
.sizes {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--gray-text) !important;
}

.upload > p,
.category > p,
.subcategory > p,
.sizes > p {
  color: var(--gray-text) !important;
}

.title > input {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  color: var(--black-text);
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.title > input:focus {
  box-shadow: 0 2px 0 0 var(--accent);
}

.title > input::placeholder {
  opacity: 0.25;
}

/* ----- */
.desc > textarea {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  color: var(--black-text);
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
  resize: none;
}

.desc > textarea:focus {
  box-shadow: 0 2px 0 0 var(--accent);
}

.desc > textarea::placeholder {
  opacity: 0.25;
}

/* ----- */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.category > select,
.subcategory > select,
.price > input {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  color: var(--black-text);
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.price > input:focus {
  box-shadow: 0 2px 0 0 var(--accent);
}

.price > input {
  width: 100%;
}

/* ----- */
.sizes > div {
  display: flex;
  gap: 1rem;
}

.sizes > div > button {
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
  transition: 0.3s;
}

.sizes > div > button.selected {
  box-shadow: 0 2px 0 0 var(--accent);
}

/* HOVER */
@media (hover: hover) {
  .upload > div > label:hover {
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }

  .upload > div > label:hover > img {
    filter: var(--filter);
    opacity: 1;
  }

  .category > select:hover,
  .subcategory > select:hover {
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }

  .sizes > div > button:hover {
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }
}
