/* FORM */
.form {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.subtitle {
  color: var(--gray-text);
}

/* UPLOAD */
.uploadSection {
  display: flex;
  gap: 3rem;
}

.upload {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  border: 2px solid var(--gray-bg);
  border-radius: var(--border-radius);
}

.uploadIcon {
  width: 2rem;
}

.upload > input {
  display: none;
}

.uploadedImages {
  display: flex;
  gap: 1rem;
}

.uploadedImage {
  height: 4rem;
  border-radius: var(--border-radius);
}

/* TITLE - DESC */
.input {
  position: relative;
  width: 100%;
  padding: 0.7rem 1rem;
  color: var(--black-text);
  border-radius: var(--border-radius);
  border: 2px solid var(--gray-bg);
  resize: none;
}

.input:focus {
  border: 2px solid var(--accent);
}

/* CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.category {
  width: 100%;
  padding: 0.7rem 1rem;
  color: var(--black-text);
  border: 2px solid var(--gray-bg);
  border-radius: var(--border-radius);
}

.category:focus {
  border: 2px solid var(--accent);
}

/* SIZES */
.sizes {
  display: flex;
  gap: 1rem;
}

.size {
  padding: 0.5rem 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--gray-bg);
  transition: 0.3s;
}

.selected {
  border: 2px solid var(--accent);
}

/* HOVER */
@media (hover: hover) {
  .upload:hover {
    cursor: pointer;
  }

  .upload:hover > img {
    filter: var(--filter);
  }

  .size:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
  }
}
