/* DETAILS */
.detail_container {
  margin: 2rem auto !important;
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}

.detail_container > img {
  width: 80%;
  margin: auto;
  border-radius: 0.2rem;
}

.detail_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail_info > h3 {
  font-family: Prata;
  font-size: 1.6rem;
}

.detail_info > h4 {
  margin: 0.5rem 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--accent);
}

.detail_info > p {
  color: var(--gray-text);
  text-wrap: balance;
}

.detail_info > ul {
  display: flex;
  gap: 1rem;
}

.detail_info > ul > li > button {
  padding: 0.4rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  background-color: var(--white-bg);
}

.detail_info > ul > li > button.selected {
  color: var(--white-text);
  background-color: var(--accent);
}

.detail_info > ul > li > button#disabled {
  pointer-events: none;
  color: var(--white-text);
  background-color: var(--gray-bg);
}

.detail_info > ul > li > button.dark_button {
  width: 50%;
}

#dark_button-disabled {
  pointer-events: none;
  background-color: var(--gray-bg) !important;
}

/* HOVER */
@media (hover: hover) {
  .detail_info > ul > li > button:hover {
    color: var(--white-text);
    background-color: var(--accent);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 1100px) {
  .detail_info > button {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .detail_container > img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .detail_container {
    margin: 2rem auto !important;
    grid-template-columns: 1fr;
  }

  .detail_container > img {
    width: 70%;
  }
}
