/* DETAILS */
.detail {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}

.images {
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.span {
  position: absolute;
  top: 47%;
  display: flex;
  background-color: var(--accent-clear);
  border-radius: 50%;
  z-index: 2;
}

.span:nth-child(1) {
  left: 1rem;
}

.span:nth-child(3) {
  right: 1rem;
}

.spanIcon {
  width: 2.5rem;
}

.image {
  width: 100%;
  margin: auto;
  border-radius: 0.4rem;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 1.6rem;
}

.price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--accent);
}

.desc {
  color: var(--gray-text);
}

.sizes {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.size {
  padding: 0.4rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--black-text);
  border-radius: 0.3rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.selectedSize {
  background-color: var(--accent-clear);
  box-shadow: 0 2px 0 0 var(--accent);
}

.disabledSize {
  pointer-events: none;
  color: var(--white-text);
  background-color: var(--gray-bg);
}

.darkButtonDetail {
  width: 50%;
}

/* HOVER */
@media (hover: hover) {
  .span:hover {
    cursor: pointer;
  }

  .spanIcon:hover {
    filter: var(--filter);
  }

  .size:hover {
    background-color: var(--accent-clear);
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 1100px) {
  .darkButtonDetail {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .detail {
    margin: 2rem auto;
    margin-top: 0;
    grid-template-columns: 1fr;
  }

  .images {
    height: 50vh;
  }

  .darkButtonDetail {
    width: 100%;
  }
}
