/* PROFILE */
.profile_container {
  margin: 2rem auto !important;
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* ----- */
.personal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personal > ul {
  display: flex;
  gap: 1rem;
}

.personal > ul > li {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.personal > ul > li > h4 {
  color: var(--gray-text);
}

.personal > ul > li > p {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

/* ----- */
.address_container {
  display: flex;
  flex-direction: column;
}

.profile_address {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.address_container > h2 {
  margin-bottom: 1rem;
}

.profile_address {
  display: flex;
}

.profile_address > label {
  max-width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border: 0.05rem solid var(--gray-bg);
  font-size: 0.8rem;
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.address_info > h4 {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--accent);
}

.address_info > p > span {
  color: var(--gray-text);
}

.address_buttons {
  display: flex;
  gap: 1rem;
}

.address_buttons > button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border: 0;
  background-color: transparent;
}

.address_buttons > button > img {
  width: 1.4rem;
}

.profile_address > label > input {
  display: none;
}

/* HOVER */
@media (hover: hover) {
  .address_buttons > button:hover {
    cursor: pointer;
  }

  .address_buttons > button > img:hover {
    filter: var(--filter);
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .personal > ul {
    flex-direction: column;
  }

  .profile_address > label {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .address_buttons {
    flex-direction: column;
    gap: 2rem;
  }

  .address_buttons > button {
    margin-top: 0;
  }
}
