/* PROFILE */
.profile_container {
  margin: 2rem auto !important;
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* ----- */
.personal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personal > ul {
  display: flex;
  gap: 1rem;
}

.personal > ul > li {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.personal > ul > li > h4 {
  font-weight: 400;
  font-size: 0.9rem;
}

.personal > ul > li > p {
  width: 100%;
  padding: 0.7rem 1rem;
  color: var(--gray-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

/* ----- */
.address_container {
  display: flex;
  flex-direction: column;
}

.profile_address {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.address_container > h2 {
  margin-bottom: 1rem;
}

.profile_address > label {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: 0.05rem solid var(--gray-bg);
  font-size: 0.8rem;
  border-radius: 0.2rem;
  background-color: var(--white-bg);
  transition: 0.3s;
}

.profile_address > label > h4 {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--accent);
}

.profile_address > label > button {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  background-color: var(--accent);
  transform: rotate(45deg);
  transition: 0.3s;
}

.profile_address > label > button > img {
  width: 2rem;
  filter: invert(1);
}

.profile_address > label > input {
  display: none;
}

/* ----- */
.crud {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.crud > button {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 50%;
  background-color: var(--white-bg);
  transition: 0.3s;
}

.crud > button > img {
  width: 2.5rem;
  opacity: 0.6;
}

.remove {
  transform: rotate(45deg);
}

/* ----- */
.personal_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2 {
  margin-bottom: 0;
}

.personal_form > article {
  display: flex;
  gap: 1rem;
}

.personal_form > article > label {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.personal_form > article > label > input {
  padding: 0.7rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.personal_form > article > label > input::placeholder {
  opacity: 0.25;
}

dark_button-address {
  width: 100%;
}

/* ----- */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

.personal_form > article > label > input.input_error {
  border: 0.05rem solid var(--error);
}

/* HOVER */
@media (hover: hover) {
  .crud > button:hover {
    cursor: pointer;
  }

  .crud > button:hover > img {
    filter: var(--filter);
    opacity: 1;
  }

  .profile_address > label > button:hover {
    background-color: var(--error);
    cursor: pointer;
  }
}
