/* PROFILE */
.profile {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

/* PERSONAL */
.personal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personalInfo {
  display: flex;
  gap: 1rem;
}

.personalLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.labelTitle {
  font-size: 0.9rem;
  color: var(--gray-text);
}

.labelText {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.input {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.input:focus {
  box-shadow: 0 2px 0 0 var(--accent);
}

/* ADDRESS */
.title {
  margin-bottom: 1rem;
}

.addresses {
  display: flex;
  gap: 2rem;
}

.label {
  max-width: fit-content;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.name {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--accent);
}

.span {
  color: var(--gray-text);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border: 0;
  background-color: transparent;
}

.buttonIcon {
  width: 1.4rem;
}

/* ADD ADDRESS */
.addAddress {
  max-width: fit-content;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  color: var(--gray-text);
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
  transition: 0.3s;
}

.addAddressIcon {
  width: 1.5rem;
}

/* HOVER */
@media (hover: hover) {
  .button:hover {
    cursor: pointer;
  }

  .buttonIcon:hover {
    filter: var(--filter);
  }

  .addAddress:hover {
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .personalInfo {
    flex-direction: column;
  }

  .label {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .buttons {
    flex-direction: column;
    gap: 2rem;
  }

  .button {
    margin-top: 0;
  }

  .addAddress {
    max-width: 100%;
  }
}
