/* PRODUCTS */
.list {
  margin: 2rem auto !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Prata;
  font-weight: 300;
  font-size: 1.7rem;
}

.list > h2::after {
  content: "";
  width: 2rem;
  height: 0.1rem;
  background-color: var(--black-text);
}

.product {
  display: flex;
  flex-direction: column;
}

.product > li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 0.05rem solid var(--gray-bg);
}

.product_img {
  width: 4rem;
}

.product > li > h3 {
  font-weight: 500;
  font-size: 1rem;
}

.product > li > h4 {
  font-weight: 500;
}

.product_remove {
  width: 1.5rem;
}

/* HOVER */
@media (hover: hover) {
  .product_remove:hover {
    filter: var(--filter);
    cursor: pointer;
  }
}
