/* LOGOUT */
.logout_container {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* ----- */
.logout_container > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Prata;
  font-weight: 300;
  font-size: 1.9rem;
}

.logout_container > h2::after {
  content: "";
  width: 2rem;
  height: 0.1rem;
  background-color: var(--black-text);
}

/* ----- */
.profile,
.orders {
  width: 60%;
  margin-top: 0.5rem;
  padding: 0.7rem;
  color: var(--black-text);
  background-color: var(--white);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  transition: 0.3s;
}

/* ----- */
.logout {
  width: 60%;
  margin-top: 0.5rem;
  padding: 0.7rem;
  color: var(--white-text);
  background-color: var(--black-text);
  border: 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

/* HOVER */
@media (hover: hover) {
  .profile:hover,
  .orders:hover {
    font-weight: 400;
    color: var(--black-text);
    background-color: var(--accent);
    cursor: pointer;
  }

  .logout:hover {
    font-weight: 500;
    color: var(--black-text);
    background-color: var(--accent);
    cursor: pointer;
  }
}
