/* CONTACT */
.contact_container {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ----- */
.contact_form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact_label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: var(--gray-text);
}

.contact_label > input,
.contact_label > textarea {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.contact_label > input::placeholder,
.contact_label > textarea::placeholder {
  font-weight: 300;
  opacity: 0.4;
}

.contact_label > textarea {
  resize: none;
}

.dark_button-contact {
  width: 100%;
}

/* ----- */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

.contact_label > input.input_error,
.contact_label > textarea.input_error {
  border: 0.05rem solid var(--error);
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .contact_form {
    width: 100%;
  }
}
