/* CONTACT */
.contact {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* FORM */
.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--gray-text);
}

.input {
  padding: 0.7rem 1rem;
  color: var(--black-text);
  border-radius: 0.4rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.input::placeholder {
  opacity: 0.25;
}

.label > textarea {
  resize: none;
}

/* ERROR */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
}

.inputError {
  box-shadow: 0 2px 0 0 var(--error);
}

/* HOVER */
@media (hover: hover) {
  .input:hover {
    box-shadow: 0 2px 0 0 var(--accent);
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .form {
    width: 100%;
  }
}
