/* MENU */
.menu {
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile_menu,
.close_menu {
  display: none;
}

/* ----- */
.menu_logo {
  display: flex;
  align-items: baseline;
  font-family: Logotype;
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--black-text);
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu_logo::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--accent);
  border-radius: 50%;
}

/* ----- */
.menu_links {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menu_links > li > a {
  position: relative;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--black-text);
  text-transform: uppercase;
}

.menu_links > li > a:after {
  content: "";
  width: 0;
  height: 0.08rem;
  background-color: var(--accent);
  display: block;
  transition: width 0.3s linear;
}

.menu_links > li > a.active {
  padding-bottom: 0.1rem;
  border-bottom: 0.05rem solid var(--accent);
}

.admin {
  padding: 0.2rem 0.7rem;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 2rem;
}

.menu_links > li.admin > a::after {
  display: none;
}

.menu > article {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ----- */
.menu_user > img {
  margin-top: 0.4rem;
  width: 1.9rem;
}

/* ----- */
.menu_cart {
  display: flex;
  position: relative;
}

.menu_cart > img {
  width: 2rem;
}

.menu_cart > span {
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  bottom: 0rem;
  left: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
  font-weight: 700;
  font-size: 0.7rem;
  background-color: var(--black-bg);
  border-radius: 50%;
}

/* HOVER */
@media (hover: hover) {
  .menu_links > li > a:hover {
    cursor: pointer;
  }

  .menu_links > li > a:hover:after {
    width: 100%;
  }

  .admin:hover {
    border: 0.08rem solid var(--accent);
    cursor: pointer;
  }

  .menu_links > li.admin:hover > a {
    color: var(--accent);
  }

  .menu_user > img:hover,
  .menu_cart:hover > img {
    filter: var(--filter);
  }

  .menu_cart:hover > span {
    background-color: var(--accent);
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .mobile_menu {
    display: block;
    width: 2rem;
  }

  .close_menu {
    display: block;
    width: 2.2em;
    margin-bottom: 4rem;
  }

  .menu_links {
    width: 16rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 4rem;
    border-left: 0.05rem solid var(--gray-bg);
    background-color: var(--white-bg);
    z-index: 2;
    clip-path: inset(0 0 0 100%);
    transition: 0.3s;
  }

  .menu_links-visible {
    clip-path: inset(0 0 0 0);
  }

  .menu_links > li > a {
    font-size: 1rem;
  }

  .menu_links > li > a:after {
    display: none;
  }

  .menu_links > li > a.active {
    padding-right: 0.6rem;
    padding-bottom: 0;
    border-right: 0.15rem solid var(--accent);
    border-bottom: 0;
  }
}
