/* MENU */
.menu {
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* TITLE */
.menuTitle {
  display: flex;
  align-items: baseline;
  font-family: Logotype;
  font-size: 2.5rem;
  color: var(--black-text);
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menuTitle::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--accent);
  border-radius: 50%;
}

/* LINKS */
.menuLinks {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menuLink {
  position: relative;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--black-text);
  text-transform: uppercase;
}

.menuLink:after {
  content: "";
  width: 0;
  height: 0.08rem;
  background-color: var(--accent);
  display: block;
  transition: width 0.3s linear;
}

:global .active {
  padding-bottom: 0.1rem;
  border-bottom: 0.05rem solid var(--accent);
}

/* WIDGETS */
.menuUserCart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuIconUser {
  margin-top: 0.4rem;
  width: 1.9rem;
}

.menuCart {
  display: flex;
  position: relative;
}

.menuIconCart {
  width: 2rem;
}

.menuBadge {
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  bottom: 0rem;
  left: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
  font-weight: 700;
  font-size: 0.7rem;
  background-color: var(--black-bg);
  border-radius: 50%;
}

.mobileMenuIcon,
.menuIconClose {
  display: none;
}

/* HOVER */
@media (hover: hover) {
  .menuLink:hover {
    cursor: pointer;
  }

  .menuLink:hover:after {
    width: 100%;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .mobileMenuIcon {
    display: block;
    width: 2rem;
  }

  .menuIconClose {
    display: block;
    width: 2.2em;
    margin-bottom: 4rem;
  }

  .menuLinks {
    width: 16rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 4rem;
    border-left: 0.05rem solid var(--gray-bg);
    background-color: var(--white-bg);
    z-index: 2;
    clip-path: inset(0 0 0 100%);
    z-index: 100;
    transition: 0.3s;
  }

  .mobileMenu {
    clip-path: inset(0 0 0 0);
  }

  .menuLink {
    font-size: 1rem;
  }

  .menuLink:after {
    display: none;
  }

  :global .active {
    padding-right: 0.6rem;
    padding-bottom: 0;
    border-right: 0.15rem solid var(--accent);
    border-bottom: 0;
  }
}
