/* HOME */
.homeSkeleton {
  margin: 2rem auto !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
  gap: 3rem;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.homeSkeleton > article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSkeleton > article > img {
  width: 17rem;
  height: 20rem;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0);
}

.homeSkeleton > article > div {
  width: 17rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.homeSkeleton > article > div > h3 {
  height: 1.3rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.homeSkeleton > article > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeSkeleton > article > div > div > h4 {
  width: 50%;
  height: 1.1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

/* ANIMATION */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
