/* LOGIN */
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: var(--gray-text);
}

.input {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  color: var(--black-text);
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.input::placeholder {
  font-weight: 300;
  opacity: 0.25;
}

.viewPassword {
  position: absolute;
  top: 55%;
  right: 1rem;
  border: 0;
  background-color: transparent;
}

.viewIcon {
  width: 1.3rem;
}

/* ERROR */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

.inputError {
  border: 0.05rem solid var(--error);
  box-shadow: 0 2px 0 0 var(--error);
}

/* HOVER */
@media (hover: hover) {
  .input:hover {
    box-shadow: 0 2px 0 0 var(--accent);
  }

  .viewPassword:hover {
    filter: var(--filter);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .form {
    width: 100%;
  }
}
