/* LOGIN */
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* GOOGLE BUTTON */
.gbutton {
  width: 60%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.2rem;
  background-color: var(--black-bg);
}

.googleIcon {
  width: 1.2rem;
}

.gbuttonText {
  color: var(--white-text);
}

/* SEPARATOR */
.separator {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
}

.separator > span {
  content: "";
  width: 45%;
  height: 0.05rem;
  position: absolute;
  top: 50%;
  background-color: var(--gray-bg);
}

.separator > span:nth-child(1) {
  left: 0;
}

.separator > span:nth-child(3) {
  right: 0;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: var(--gray-text);
}

.input {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  color: var(--black-text);
  border-radius: 0.5rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.input::placeholder {
  font-weight: 300;
  opacity: 0.25;
}

.viewPassword {
  position: absolute;
  top: 55%;
  right: 1rem;
  border: 0;
  background-color: transparent;
}

.viewIcon {
  width: 1.3rem;
}

/* ERROR */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

.inputError {
  box-shadow: 0 2px 0 0 var(--error);
}

/* HOVER */
@media (hover: hover) {
  .gbutton:hover {
    cursor: pointer;
  }

  .input:hover {
    box-shadow: 0 2px 0 0 var(--accent);
  }

  .viewPassword:hover {
    filter: var(--filter);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .gbutton,
  .form {
    width: 100%;
  }
}
