/* BUTTON */
.dark_button {
  margin-top: 0.8rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--white-text);
  background-color: var(--black-bg);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  transition: 0.3s;
}

.dark_button-disabled {
  background-color: var(--gray-bg);
  pointer-events: none;
}

/* HOVER */
@media (hover: hover) {
  .dark_button:hover {
    background-color: var(--accent);
    cursor: pointer;
  }
}
