/* LOGIN */
.login_container {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* ----- */
.gbutton {
  width: 60%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: var(--white-bg);
  border: 0.05rem solid var(--gray-bg);
}

.gbutton > img {
  width: 1.2rem;
}

.gbutton > p {
  font-size: 0.9rem;
  opacity: 0.3;
}

/* ----- */
.separator {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
}

.separator > span {
  content: "";
  width: 45%;
  height: 0.05rem;
  position: absolute;
  top: 50%;
  background-color: var(--gray-bg);
}

.separator > span:nth-child(1) {
  left: 0;
}

.separator > span:nth-child(3) {
  right: 0;
}

/* ----- */
.login_form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login_form > label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.login_form > label > input {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.login_form > label > input::placeholder {
  font-weight: 300;
  opacity: 0.25;
}

.view_pass {
  position: absolute;
  top: 55%;
  right: 1rem;
  border: 0;
  background-color: transparent;
}

.view_pass > img {
  width: 1.3rem;
}

.dark_button-login {
  width: 100%;
}

/* ----- */
.login_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login_footer > h3 {
  font-weight: 400;
  font-size: 0.9rem;
}

.login_footer > a {
  color: var(--accent);
}

/* ----- */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

.login_form > label > input.input_error {
  border: 0.05rem solid var(--error);
}

/* HOVER */
@media (hover: hover) {
  .gbutton:hover {
    filter: brightness(95%);
    cursor: pointer;
  }

  .view_pass:hover {
    filter: var(--filter);
    cursor: pointer;
  }

  .login_footer > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* MOBILE */
@media (max-width: 700px) {
  .gbutton {
    width: 100%;
  }

  .separator {
    width: 100%;
  }

  .login_form {
    width: 100%;
  }
}
