/* CATEGORIES */
.categories {
  position: relative;
  justify-self: end;
}

.categories > button {
  padding: 0.7rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #f8f8f8;
  background-color: #232b3b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.7rem;
}

.categories > button > span {
  width: 1px;
  height: 1.3rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.categories > button > img {
  width: 1rem;
}

.categories > ul {
  width: 100%;
  position: absolute;
  top: 3rem;
  display: flex;
  flex-direction: column;
  clip-path: inset(0 0 100% 0);
  transition: 0.3s;
}

.categories > ul.modal_open {
  clip-path: inset(0 0 0 0);
}

.categories > ul > li {
  list-style-type: none;
  padding: 0.6rem 2rem;
  font-size: 0.8rem;
  color: #f8f8f8;
  background-color: #232b3b;
  transition: 0.3s;
}

.categories > ul > li:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}

.categories > ul > li:last-child {
  border-radius: 0 0 0.4rem 0.4rem;
}

.categories > ul > li.active {
  color: #bf6bd0;
}

/* HOVER */
@media (hover: hover) {
  .categories > button:hover {
    cursor: pointer;
  }

  .categories > ul > li:hover {
    color: #bf6bd0;
    cursor: pointer;
  }
}
