/* PRODUCT CARD */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 17rem;
  margin: auto;
  transition: 0.3s;
}

.cardImage {
  width: 100%;
  border-radius: var(--boder-radius);
}

.cardInfo {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.onCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: 600;
  color: var(--accent);
}

.badge {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  color: var(--white-text);
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  background-color: var(--accent);
  border-radius: 1rem;
}

/* HOVER */
@media (hover: hover) {
  .card:hover {
    transform: scale(1.02);
  }
}
