/* CATEGORIES */
.categories {
  position: relative;
  z-index: 1;
}

.toggleModal {
  min-width: 10rem;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.7rem;
  color: var(--black-text);
  border-radius: var(--boder-radius);
  border: 2px solid var(--gray-bg);
}

.span {
  width: 1px;
  height: 1.3rem;
  background-color: var(--black-bg);
  opacity: 0.3;
}

.iconArrow {
  width: 1rem;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.categories:has(.modalOpen) .toggleModal {
  border: 2px solid var(--accent);
}

.categories:has(.modalOpen) .iconArrow {
  transform: rotate(0deg);
}

.modal {
  width: 100%;
  position: absolute;
  top: 3.2rem;
  display: flex;
  flex-direction: column;
  clip-path: inset(0 0 100% 0);
  transition: 0.3s;
}

.modalOpen {
  clip-path: inset(0 0 0 0);
}

.category {
  list-style-type: none;
  padding: 0.6rem 2rem;
  font-size: 0.8rem;
  color: var(--black-text);
  border-radius: var(--boder-radius);
  background-color: var(--white);
  transition: 0.3s;
}

.active {
  color: var(--accent);
}

.modalBackdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.01);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.modalBackdropVisible {
  opacity: 1;
  visibility: visible;
}

/* HOVER */
@media (hover: hover) {
  .toggleModal:hover {
    cursor: pointer;
  }

  .category:hover {
    color: var(--white-text);
    background-color: var(--accent);
    cursor: pointer;
  }
}
