/* HOME */
.home {
  margin: 2rem auto;
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
}
