/* EMPTY */
.empty {
  min-height: calc(100vh - var(--menu-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyIcon {
  width: 25rem;
  opacity: 0.15;
}

.emptyText {
  position: absolute;
  font-weight: 800;
  font-size: 4.5rem;
  opacity: 0.8;
}

/* ORDERS */
.orders {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleOrder {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
  align-items: start;
  justify-items: center;
  gap: 2rem;
  font-size: 0.9rem;
  border-bottom: 0.05rem solid var(--gray-bg);
}

.orderIcon {
  width: 2.5rem;
}

.orderSpan {
  color: var(--gray-text);
}

.orderSelect {
  padding: 0.5rem 0.9rem;
  color: var(--black-text);
  border-radius: 0.3rem;
  background-color: var(--white-bg);
  box-shadow: 0 2px 0 0 var(--accent-shadow);
}

.orderDelete {
  width: 1.5rem;
}

/* HOVER */
@media (hover: hover) {
  .orderSelect:hover {
    box-shadow: 0 2px 0 0 var(--accent);
    cursor: pointer;
  }

  .orderDelete:hover {
    filter: var(--filter);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 1000px) {
  .singleOrder {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    row-gap: 3rem;
  }
}

@media (max-width: 700px) {
  .emptyText {
    font-size: 2.5rem;
  }

  .singleOrder {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
