/* GLOBALS */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--black-text);
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
}

h2 {
  margin-top: 0.7rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Prata;
  font-weight: 300;
  font-size: 1.7rem;
}

h2::after {
  content: "";
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--accent);
}

/* ----- */
.dark_button {
  margin-top: 0.8rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--white-text);
  background-color: var(--black-text);
  border: 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
  transition: 0.3s;
}

/* ----- */
.new_address {
  max-width: fit-content;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-size: 0.9rem;
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
  transition: 0.3s;
}

.new_address > img {
  width: 1.5rem;
}

.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.85rem;
}

/* HOVER */
@media (hover: hover) {
  .dark_button:hover {
    background-color: var(--accent);
    cursor: pointer;
  }

  .new_address:hover {
    border: 0.05rem solid var(--accent);
    cursor: pointer;
  }
}
