/* EMPTY */
.empty {
  min-height: calc(100vh - var(--menu-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyIcon {
  width: clamp(20rem, 50vw, 25rem);
  opacity: 0.15;
}

.emptyText {
  position: absolute;
  font-weight: 800;
  font-size: clamp(2.5rem, 5.5vw, 3.5rem);
  opacity: 0.8;
}

/* LIST */
.users {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.usersList {
  display: flex;
  flex-direction: column;
}

.user {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.05rem solid var(--gray-bg);
}

.userDelete {
  width: 1.5rem;
}

/* HOVER */
@media (hover: hover) {
  .userDelete:hover {
    filter: var(--filter);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .user {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    row-gap: 1.5rem;
  }
}
