/* CART */
.cart__empty {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-weight: 800;
  font-size: 2rem;
}

.cart__container {
  width: 85%;
  max-width: 1100px;
  margin: auto;
}

.cart__info {
  color: var(--primary-text);
  margin: 5rem 3rem 0 0;
}

.cart__info > p {
  font-weight: 700;
  font-size: 1.3rem;
}

/* HEADER */
.cart__header,
.item__info {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 5rem 5rem;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-wrap: balance;
}

.cart__header {
  font-weight: 700;
}

.cart__header > p:nth-child(2) {
  justify-self: left;
}

/* ITEM */
.item__info > img {
  width: 2.5rem;
}

.item__info > p,
.quantity__info > p {
  font-size: 0.9rem;
}

.item__title {
  justify-self: left;
}

.quantity__info {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.3rem;
  background-color: #ffffff;
  border-radius: 2rem;
}

.quantity__info > p {
  margin: 0 0.7rem;
}

.quantity__info > button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin;
  font-size: 1.6rem;
  font-weight: 500;
  border: 0;
  border-radius: 50%;
  color: var(--primary-text);
  background-color: rgba(21, 237, 71, 0.2);
}

.quantity__info > button:first-child {
  background-color: rgba(245, 41, 27, 0.2);
}

.item__quantity {
  font-weight: 600;
  width: 3rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.item__info > p {
  font-weight: 600;
  color: var(--accent);
}

.item__info > button {
  position: relative;
  width: 1rem;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.item__info > button:after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -16%;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}

/* TOTAL */
.cart__total {
  margin-top: 5rem;
}

.cart__total > h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 2rem;
}

.total__info {
  margin-top: 1.5rem;
}

.total__info > p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.total__info > p > span {
  font-weight: 600;
}

.total__info > h3 {
  display: flex;
  justify-content: space-between;
}

.total__info > h3 > span {
  color: var(--accent);
}

/* PAY */
.cart__pay {
  margin: 3rem 0;
  padding: 0.9rem 1.8rem;
  border: 0;
  border-radius: 2rem;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--secondary-text);
  background-color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

/* HOVER */
@media (hover: hover) {
  .quantity__info > button:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .item__info > button:hover {
    cursor: pointer;
  }

  .item__info > button:hover:after {
    color: var(--accented);
    background-color: rgba(245, 41, 27, 0.15);
  }

  .cart__pay:hover {
    background-color: var(--accented);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .cart__header {
    display: none;
  }

  .item__info {
    grid-template-columns: 5rem 1fr 5rem;
  }

  .item__title {
    justify-self: center;
    text-align: center;
  }

  .cart__pay {
    display: flex;
    margin: 3rem auto;
    font-size: 0.9rem;
  }
}
