/*
==========
CART
==========
*/
.cart__empty {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-weight: 800;
  font-size: 2rem;
}

.cart__container {
  width: 85%;
  max-width: 1100px;
  margin: auto;
}

.cart__info {
  color: var(--black-text);
  margin: 5rem 3rem 0 0;
}

.cart__info > p {
  font-weight: 700;
  font-size: 1.3rem;
}

/*
==========
HEADER
==========
*/
.cart__header,
.item__info {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 5rem 5rem;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .15);
  text-wrap: balance;
}

.cart__header {
  font-weight: 700;
}

.cart__header > p:nth-child(2) {
  justify-self: left;
}

/*
==========
ITEM
==========
*/
.item__info > img {
  width: 2.5rem;
}

.item__info > p,
.quantity__info > p {
  font-size: .9rem;
}

.item__title {
  justify-self: left;
}

.quantity__info {
  display: flex;
}

.quantity__info > p {
  padding: .2rem .8rem;
  border: 1px solid;
  margin: 0 1rem;
}

.quantity__info > button {
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  color: var(--black-text);
  background-color: transparent;
  cursor: pointer;
}

.quantity__info > button:hover {
  color: #49aa4e;
}

.item__quantity {
  font-weight: 600;
  width: 3rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .1);
}

.item__info > p {
  font-weight: 600;
  color: #55946b;
}

.item__info > button {
  width: 1rem;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  color: var(--black-text);
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}

.item__info > button:hover {
  color: #ad4040;
}

/*
==========
TOTAL
==========
*/
.cart__total {
  margin-top: 5rem;
}

.cart__total > h2 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 2rem;
}

.total__info {
  margin-top: 1.5rem;
}

.total__info > p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .15);
}

.total__info > p > span {
  font-weight: 600;
}

.total__info > h3 {
  display: flex;
  justify-content: space-between;
}

.total__info > h3 > span {
  color: #40ad59;
}

/*
==========
PAY
==========
*/
.cart__pay {
  margin: 3rem 0;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--white-text);
  background-color: #49a2da;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s;
}

.cart__pay:hover {
  background-color: #40ad59;
}

/*
==========
MOBILE
==========
*/
@media (max-width: 700px) {
  .cart__header {
    display: none;
  }

  .item__info {
    grid-template-columns: 5rem 1fr 5rem;
  }

  .item__title {
    justify-self: center;
    text-align: center;
  }

  .cart__pay {
    display: flex;
    margin: 3rem auto;
    font-size: .9rem;
  }
}
