
/*
==========
FORM
==========
*/
.contact__form {
  color: var(--black-text);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: auto;
}

.contact__form > h2 {
  margin-bottom: 1rem;
  font-family: Raleway;
  font-weight: 800;
  font-size: 2.5rem;
}

.contact__form > input,
.contact__form > textarea {
  padding: 1rem;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1rem;
  color: var(--black-text);
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 0, 0, .15);
  border-radius: .5rem;
}

.contact__form > input::placeholder,
.contact__form > textarea::placeholder {
  color: var(--black-text);
}

.contact__form > input:focus-visible,
.contact__form > textarea:focus-visible {
  outline: none;
}

.contact__form > textarea {
  resize: none;
}

.contact__button {
  margin-top: .5rem;
  padding: 1rem;
  font-family: Poppins;
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--white-text);
  border: none;
  border-radius: .5rem;
  background-color: #49a2da;
  text-transform: uppercase;
  letter-spacing: .5rem;
  cursor: pointer;
  transition: .3s;
}

.contact__button:hover {
  background-color: #40ad59;
}

/*
==========
VALIDATION
==========
*/
.error {
  position: relative;
  left: 1rem;
  color: #f13a3a;
  font-size: 1rem;
  font-weight: 500;
}

.success {
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  font-size: 1.2rem;
  color: #1de764;
}
