/*
==========
HOME
==========
*/
.main__container {
  width: 90%;
  max-width: 1100px;
  margin: 5rem auto;
  color: var(--black-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*
==========
TITLE
==========
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 3.3rem;
  text-transform: capitalize;
}

/*
==========
CARDS
==========
*/
.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  min-height: 380px;
  place-items: center;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
}

.img__container {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__info {
  text-align: center;
}

.card__info > h3 {
  margin-top: 1.5rem;
  font-family: Raleway;
  font-weight: 800;
  text-wrap: balance;
}

.card__info > h4 {
  margin: 0.5rem 0 1rem 0;
  font-weight: 700;
  color: #40ad59;
}

.card__info > a {
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  color: var(--white-text);
  border: none;
  border-radius: 2rem;
  background-color: #49a2da;
  text-decoration: none;
  transition: 0.3s;
}

.card__info > a:hover {
  background-color: #40ad59;
}

/* ADAPTIVE */
@media (max-width: 700px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
}
