/* LOAD */
.load {
  min-height: calc(100vh - var(--menu-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadIcon {
  width: clamp(20rem, 50vw, 25rem);
  opacity: 0.5;
}

.loadText {
  position: absolute;
  font-weight: 800;
  font-size: clamp(2.5rem, 5.5vw, 4rem);
  opacity: 0.8;
}
