/* MENU */
.menu {
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* ----- */
.menu_logo {
  display: flex;
  flex-direction: column;
}

.menu_logo > h2 {
  display: flex;
  align-items: baseline;
  font-family: Logotype;
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--black-text);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.menu_logo > h2::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.menu_logo > h3 {
  font-size: 0.8rem;
  color: var(--accent);
  text-transform: uppercase;
}

.open_menu {
  width: 2.2rem;
}

.close_menu {
  width: 2.3em;
}

.menu_links {
  width: 16rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3rem;
  border-left: 0.05rem solid var(--gray-bg);
  background-color: var(--white-bg);
  clip-path: inset(0 0 0 100%);
  transition: 0.3s;
}

.menu_links-visible {
  clip-path: inset(0 0 0 0);
}

.menu_links > li > a {
  position: relative;
  font-size: 1rem;
}

.menu_links > li > a.active {
  padding-right: 0.6rem;
  border-right: 0.15rem solid var(--accent);
}

/* HOVER */
@media (hover: hover) {
  .open_menu:hover,
  .close_menu:hover {
    filter: var(--filter);
    cursor: pointer;
  }

  .menu_links > li > a:hover,
  .menu_links > li > p:hover {
    color: var(--accent);
    cursor: pointer;
  }

  .menu_links > li > a.active:hover {
    color: var(--black-text);
  }
}
