/* MENU */
.menu {
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menuTitle {
  margin: 0;
  display: flex;
  align-items: baseline;
  font-family: Logotype;
  font-size: 2.5rem;
  color: var(--black-text);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.menuTitle::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.menuSubtitle {
  font-size: 0.8rem;
  color: var(--accent);
  text-transform: uppercase;
}

.menuOpen {
  width: 2.2rem;
}

.menuLinks {
  width: 16rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3rem;
  border-left: 0.05rem solid var(--gray-bg);
  background-color: var(--white-bg);
  clip-path: inset(0 0 0 100%);
  z-index: 2;
  transition: 0.3s;
}

.menuLinksVisible {
  clip-path: inset(0 0 0 0);
}

.menuClose {
  width: 2.3em;
}

.menuLink {
  position: relative;
  font-size: 1rem;
  color: var(--black-text);
}

:global .active {
  color: var(--accent);
  padding-right: 0.6rem;
  border-right: 0.15rem solid var(--accent);
}

.logout {
  font-size: 1rem;
  margin-top: auto;
  padding: 0.2rem 1rem;
  border: 0.1rem solid var(--gray-bg);
  border-radius: 1rem;
  transition: 0.3s;
}

/* HOVER */
@media (hover: hover) {
  .menuOpen:hover,
  .menuClose:hover {
    filter: var(--filter);
    cursor: pointer;
  }

  .menuLink:hover {
    color: var(--accent);
    cursor: pointer;
  }

  .logout:hover {
    background-color: var(--accent-shadow);
    cursor: pointer;
  }
}
