/* REGISTER */
.register_container {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ----- */
.register_container > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Prata;
  font-weight: 300;
  font-size: 1.9rem;
}

.register_container > h2::after {
  content: "";
  width: 2rem;
  height: 0.1rem;
  background-color: var(--black-text);
}

/* ----- */
.register_form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register_form > label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.register_form > label > input {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
}

.register_form > label > input::placeholder {
  font-weight: 300;
  opacity: 0.25;
}

.register_form > button {
  margin-top: 0.5rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--white-text);
  background-color: var(--black-text);
  border: 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

/* ----- */
.register_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register_footer > h3 {
  font-weight: 300;
  font-size: 0.9rem;
}

.register_footer > a {
  color: var(--link);
}

/* ----- */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

/* HOVER */
@media (hover: hover) {
  .register_form > button:hover {
    font-weight: 500;
    color: var(--black-text);
    background-color: var(--accent);
    cursor: pointer;
  }

  .register_footer > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* MOBILE */
@media (max-width: 700px) {
  .register_form {
    width: 100%;
  }
}
