/* REGISTER */
.register_container {
  min-height: calc(100vh - var(--menu-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ----- */
.register_form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register_form > label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.register_form > label > input {
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--black-text);
  border: 0.05rem solid var(--gray-bg);
  border-radius: 0.2rem;
  background-color: var(--white-bg);
}

.register_form > label > input::placeholder {
  font-weight: 300;
  opacity: 0.25;
}

.dark_button-register {
  width: 100%;
}

/* ----- */
.register_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register_footer > h3 {
  font-weight: 400;
  font-size: 0.9rem;
}

.register_footer > a {
  color: var(--accent);
}

/* ----- */
.error {
  position: absolute;
  right: 0;
  color: var(--error);
  font-size: 0.9rem;
}

.register_form > label > input.input_error {
  border: 0.05rem solid var(--error);
}

/* HOVER */
@media (hover: hover) {
  .register_footer > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* MOBILE */
@media (max-width: 700px) {
  .register_form {
    width: 100%;
  }
}
